.footer { 
  background-color: $grey-1;
  color: $grey-5;
  font-family: $navigation-font; 
  padding: 2.5rem; 
  text-align: center;

  
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 2fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
        'logo'
        'social links copyright';
    //   gap: 1rem;
      justify-items: start;
    }

    a {
        color: $grey-5;
    }

    &__logo { 
        margin-bottom: 1.875rem;
        display: inline-block;

        @include breakpoint-up(large){
        grid-area: logo;
        }
    }

    &__social { 
        margin-bottom: 1.875rem;

        @include breakpoint-up(large){
        grid-area: social;
        }
        
        a {
        display: inline-block;
        }

        a:not(:last-child) {
        margin-right: 1rem;
        } 
    }

    &__links { 
        display: flex;
        flex-direction: column;
        margin-bottom: 1.875rem;
        align-items: center;
        line-height: 2.25rem;

        @include breakpoint-up(large){
        grid-area: links;
        }
    }

    &__copyright {
        font-family: $headers-font; 

        @include breakpoint-up(large){
            grid-area: copyright;
        }
    }

}
