.footer { 
  // background-color: $grey-1;
  color: $grey-1;
  font-family: $navigation-font; 
  padding: 2.5rem; 
  text-align: center;
  position: relative;

  
    @include breakpoint-up(large) {
        display: flex;
        flex-direction: row;
    //   display: grid;
    //   grid-template-columns: repeat(3, 1fr) 2fr;
    //   grid-template-rows: repeat(2, 1fr);
    //   grid-template-areas: 
    //     'logo'
    //     'social links copyright';
    // //   gap: 1rem;
    //   justify-items: start;
    }

    a {
        color: $grey-1;
    }

    &__logo { 
        margin-bottom: 1.875rem;
        display: inline-block;

        // @include breakpoint-up(large){
        
        // }
    }

    &__social { 
        margin-bottom: 1.875rem;

        // @include breakpoint-up(large){
        
        // }
        i {
          color: $grey-1;
        }
        
        a {
          display: inline-block;
        }

        a:not(:last-child) {
          margin-right: 1rem;
        } 
    }

    &__links { 
        display: flex;
        flex-direction: column;
        margin-bottom: 1.875rem;
        align-items: center;
        line-height: 2.25rem;

        @include breakpoint-up(medium){
          display: flex;
          flex-direction: row;
          font-size: $font-s;
        }

        // @include breakpoint-up(large){
        
        // }
    }

    &__copyright {
        font-family: $headers-font; 

        // @include breakpoint-up(large){
        
        // }
    }

}
