
.footer { 
  color: $grey-1;
  font-family: $navigation-font; 
  padding: 4.25rem 1.5rem 1rem; 
  // text-align: center;
  // position: relative;
  
  
  .container {
    @media only screen and (max-width: 39em) {
      flex-direction: column;
      align-items: center;
    }
  }
  
    // @include breakpoint-up(large) {
    //     display: flex;
    //     flex-direction: row;
    // //   display: grid;
    // //   grid-template-columns: repeat(3, 1fr) 2fr;
    // //   grid-template-rows: repeat(2, 1fr);
    // //   grid-template-areas: 
    // //     'logo'
    // //     'social links copyright';
    // // //   gap: 1rem;
    // //   justify-items: start;
    // }

    a {
        color: $grey-1;
    }

    &__logo { 
        margin-bottom: 1.875rem;
        font-size: $font-s;
        // font-family: $navigation-font;


        // @include breakpoint-up(large){
        
        // }
    }

    &__social { 
        display: flex;
        flex-direction: row;
        margin-bottom: 1.2rem;
        line-height: 1.25rem;
        gap: 1.6rem;

        // @include breakpoint-up(large){
        
        // }

        i {
          color: $grey-1;
        }

        a:not(:last-child) {
          margin-right: 1rem;
        } 
    }

    &__links { 
        display: flex;
        flex-direction: row;
        margin-bottom: .4rem;
        line-height: 1.25rem;
        gap: 1.875rem;
        
        // @media only screen and (max-width: 39em) {
        //   a {
            
        //     align-items: start;
        //     justify-content: space-between;
        //   }
        // }

        @include breakpoint-up(medium){
          display: flex;
          flex-direction: row;
          font-size: $font-s;
        }

        // @include breakpoint-up(large){
        
        // }
    }

    &__copyright {
        font-family: $headers-font; 
        color: $grey-2;

        @media only screen and (max-width: 39em) {
          font-size: 8px;
        }

        // @include breakpoint-up(large){
        
        // }
    }

}
