.hero {
    
    &__image {
    overflow: hidden;
    position: relative;
    object-fit: contain;
    background-image: url('/images/burnfreeee.png');
    background-size: 100%;
    background-repeat: no-repeat;
    // background-position: center;
    
    @media only screen and (max-width: 39em) {
  
      margin-top: 7rem;
      p {
        padding: 0 2rem 0 2rem;
      }
    }
    
    @include breakpoint-up(medium){
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/burn2.png');
      // position: relative;
      // background-image: url('/images/burn.jpg'); 
      min-height: 42.3rem;
      // background-repeat: no-repeat;
    }

    @include breakpoint-up(large){
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/burn2.png');
      // background-size: 100%;
      position: relative;
      min-height: 46rem;
    }
    
    @include breakpoint-up(xlarge){
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/burn2.png');
      // background-size: 100%;
      position: relative;
      min-height: 75.7rem;
    }
  }
  
  &__text {
    text-align: center;
    color: $grey-5;
    // margin-top: 2rem;

    @include breakpoint-up(medium) {
      // margin-top: 2rem;
      // padding: 0 20rem 0 20rem;

      h1 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
        margin-bottom: 2rem;
      }
      button {
        font-size: 17px;
      }
    }

    @include breakpoint-up(large) {
      margin-top: 2rem;
      // padding: 0 20rem 0 20rem;

      h1 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
        margin-bottom: 2rem;
      }
      button {
        font-size: 20px;
      }
    }
    
    @include breakpoint-up(xlarge) {
      margin-top: 5rem;
      padding: 0 20rem 0 20rem;

      h1 {
        font-size: 65px;
      }
      p {
        font-size: 26px;
        margin-bottom: 6rem;
      }
      button {
        font-size: $font-m;
      }
    }
  }
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }