#mobilepic {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  padding-right: 1rem;

  @include breakpoint-up(medium){
    padding-right: 2.8rem;
  }
}

.hero {

  &__image {
    position: relative;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    
    // @include breakpoint-up(medium){
    //   background-image: url('/images/burn2.png');
    //   min-height: 35rem;
    // }
    
    @include breakpoint-up(large){
      background-image: url('/images/burn2.png');
      min-height: 50rem;
    }
    
    @include breakpoint-up(xlarge){
      background-image: url('/images/burn2.png');
      min-height: 74rem;
    }
  }
  
  &__text {
    text-align: center;
    
    @media only screen and (max-width: 39em) {      
      margin-top: 5rem;
      color: $grey-1;
      
      h1 {
        padding: 0 2.8rem;
      }
      p {
        
        padding: 0 2rem 0 2rem;
      }
    }
    
    @include breakpoint-up(medium) {
      margin-top: 8rem;
      color: $grey-1;
      
      h1 {
        font-size: 46px;
      }
      p {
        font-size: 18px;
        margin-bottom: 2rem;
      }
      button {
        font-size: 18px;
      }
    }
    
    @include breakpoint-up(large) {
      margin-top: 7rem;
      color: white;
      
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
        margin-bottom: 2rem;
      }
      button {
        font-size: 20px;
      }
    }
    
    @include breakpoint-up(xlarge) {
      margin-top: 5rem;
      color: white;
      
      h1 {
        font-size: 65px;
      }
      p {
        font-size: 26px;
        margin-bottom: 6rem;
      }
      button {
        font-size: $font-m;
      }
    }
  }
}

// .quote {
//   text-align: center;
// }
