.intro { 
  position: relative;
  // z-index: 5;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
  // padding-bottom: 1.625rem;
  border-radius: 15px;
  background-color: $grey-1;  
  // color: black;
  overflow: hidden;

  &__image { 
    background-image: url('/images/sunglasses.jpg');
    background-repeat: no-repeat;
    
    @media only screen and (max-width: 39em) {            color: $grey-1;
      background-size: 100%;
      background-position: top;
      min-height: 20rem; 

      p {
        padding: 0 2rem 0 2rem;
      }
    }

    @include breakpoint-up(medium){ 
      background-size: cover;
      background-position: center 13%;
      flex: 2;
      order: 2;
      height: 35rem;
    }

    @include breakpoint-up(large){
      background-position: center 5%;
      flex: 2;
      order: 2;
      height: 35rem;
    }
  }

  &__text {
    text-align: start;
    color: $grey-5;
    
    @include breakpoint-up(medium){      
      padding: 3rem;

   
      p {
        font-size: 18px;
      }
      button {
        font-size: 18px;
      }
    }

    @include breakpoint-up(large){
      font-size: $font-m;
      flex: 2;
      order: 3;
      button {
        font-size: $font-m;
      }
    }

    @include breakpoint-up(xlarge){
      font-size: $font-xl;
      flex: 2;
      order: 3;
      button {
        font-size: $font-m;
      }
    }
  }
}