.intro { 
  position: relative;
  // z-index: 5;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  // padding-bottom: 1.625rem;
  border-radius: 15px;
  background-color: $grey-1;  
  // color: black;
  overflow: hidden;

  &__image { 
    background-image: url('/images/sunglasses.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 35rem; 

    // @include breakpoint-up(medium){
     
    // }

    @include breakpoint-up(medium){
      
      background-position: center 13%;
      flex: 2;
      order: 2;
      height: 35rem;
    }

    @include breakpoint-up(large){
      background-position: center 5%;
      flex: 2;
      order: 2;
      height: 35rem;
    }
  }

  &__text {
    text-align: start;
    color: $grey-5;

    @include breakpoint-up(medium){
      
      padding: 3rem;
      // flex: 2;
      // order: 3;
      p {
        font-size: $font-m;
      }
      button {
        font-size: $font-m;
      }
    }

    @include breakpoint-up(large){
      font-size: $font-m;
      flex: 2;
      order: 3;
      button {
        font-size: $font-m;
      }
    }

    @include breakpoint-up(xlarge){
      font-size: $font-xl;
      flex: 2;
      order: 3;
      button {
        font-size: $font-m;
      }
    }
  }
}