// Colors
$primary-color: #ffa500;
$secondary-color: #E16415;
$red: #9D1C33;
$purple: #6a3872;
$green: #0f4c5c; 

// Shades of Grey
$grey-1: #323435;
$grey-2: #78716c;
$grey-3: #d6d3d1;
$grey-4: #e7e5e4;
$grey-5: #f5f5f4;

// Font Families
$navigation-font: 'Poiret One', cursive;
$headers-font: 'DM Serif Display', serif;
$text-font: 'Arbutus Slab', serif; 

// Font Sizes
$font-s: 0.875rem; // 14px
$font-m: 1.125rem; // 18px
$font-l: 2.5rem; // 30px
$font-xl: 3.25rem; // 52px
