// Colors
$primary-color: rgb(255, 165, 2);
$secondary-color: rgb(225, 100, 21);
$red: rgb(156, 28, 51);
$purple: #7b3086;
$green: #0f4c5c; 

// Shades of Grey
$grey-1: #212222;
$grey-2: #78716c;
$grey-3: #d6d3d1;
$grey-4: #e7e5e4;
$grey-5: #f5f5f4;

// Font Families
$navigation-font: 'Poiret One', cursive;
$headers-font: 'DM Serif Display', serif;
$text-font: 'Arbutus Slab', serif; 

// Font Sizes
$font-s: 0.875rem; // 14px
$font-m: 1.5rem; // 24px
$font-l: 2.5rem; // 30px
$font-xl: 3.25rem; // 52px
